{% extends "orders/layout.html" %}
{% block title %}
  신청 내역 조회
{% endblock %}
{% block content %}
  <table class="table table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>신청자</th>
      <th>시작일</th>
      <th>종료일</th>
      <th>소진일</th>
      <th>취소여부</th>
      <th>승인여부</th>
    </tr>
    </thead>
    <tbody>
    {% for order in order_list %}
      <tr>
        <td>{{ order.pk }}</td>
        <td>{{ order.drafter }}</td>
        <td>{{ order.start_date }}</td>
        <td>{{ order.end_date }}</td>
        <td>{{ order.consume }}</td>
        <td>
          {% if order.canceled %}
            취소됨
          {% else %}
            <a href="{% url "orders:order_cancel" order.pk %}" class="btn btn-outline-primary">취소하기</a>
          {% endif %}
        </td>
        <td>{{ order.ordersign.sign.sign_type_to_message }}</td>
      </tr>
    {% endfor %}

    </tbody>
  </table>
{% endblock %}